.auth-card {
  position: relative;
  flex: 0 0 45%;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
}
.card__image {
  position: absolute; /** preenche tudo.*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /** garante que a imagem nunca deforme, mesmo que o container mude de tamanho.*/
  display: block;
}